name: Java CI with Maven

on:
  schedule:
  - cron: "30 0 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4.2.2
      with:
        java-version: '17'
        distribution: 'dragonwell'
        cache: maven
    - name: Build with Maven
      env:
        BDUSS: ${{ secrets.BDUSS }}
      run: mvn compile exec:java -Dexec.mainClass="org.lucien.Main" -Dexec.args="${BDUSS}"
